.about-height{
	height: 80vh;
}

.progress{
	width : 0vw;
	transition : width 1s ease;
}
.typewriter{
animation: blinker 1s infinite;
}
@keyframes blinker {
60% {
opacity: 0;
}
}

.container{
	height : 100vh;
	width : 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	.name-text{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		color: white;
		
	}
	@media only screen and (max-width: 800px) {
		.name-text {
		  font-size : 10vw;
		}
	  }
}